.certificate {
    text-align: center;
    padding: 50px;
}

.certificate-box {
    width: 80%;
    margin: auto;
    padding: 40px;
    border: 3px solid orange;
    border-radius: 15px;
}

.certificate-box h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

.certificate-box h2 {
    margin: 20px 0;
    font-size: 1.8rem;
    color: #333;
}

.signature {
    margin-top: 50px;
    font-style: italic;
}

.download-btn {
    margin-top: 30px;
    padding: 12px 20px;
    background: orange;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.download-btn:hover {
    background: #d77c00;
}
