body {
    margin: 0;
    padding: 0;
    background: #f3e8ff;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.login-box {
    display: flex;
    width: 850px;
    height: 460px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
}

.login-form {
    flex: 1;
    padding: 40px;
}

.login-form h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
}


.btn-login {
    width: 100%;
    padding: 12px;
    background: orange;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
}

.btn-login:hover {
    background: #d87f00;
}

.divider {
    text-align: center;
    margin: 10px 0;
    color: #666;
    font-size: 13px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.google-btn {
    width: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-size: 14px;
    font-weight: bold;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

.signup-text a {
    color: orange;
    text-decoration: none;
}

.login-image {
    flex: 1;
}

.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
