body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    max-width: 100%;
    box-sizing: border-box;
}

.image1{
    height: 80px;
    width: 60px;
}

.menu-links a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu-links a:hover {
    color: orange;
}

.trilhas-container {
    padding: 40px;
}

.titulo-trilhas {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.grid-trilhas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}


.trilha {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 260px;
}


.trilha p {
    margin: 10px 0 15px 0; 
}


.trilha h3 {
    margin-top: 0;
}



.btn-trilha {
    padding: 10px 20px;
    background: orange;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-top: auto;
}


.btn-trilha:hover {
    background: #d87f00;
}
