body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    max-width: 100%;
    box-sizing: border-box;
}

.image1{
    height: 80px;
    width: 60px;
}

.menu-links a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu-links a:hover {
    color: orange;
}

.quiz-section {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
}

.quiz-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.quiz-subtitle {
    color: #666;
    margin-bottom: 30px;
}

.quiz-question {
    background: #fff7e6;
    padding: 20px;
    margin: 20px 0;
    border-radius: 12px;
    text-align: left;
}

.quiz-question p {
    font-weight: bold;
}

.quiz-question label {
    display: block;
    margin-top: 8px;
    cursor: pointer;
}

.submit-quiz-btn {
    margin-top: 30px;
    padding: 12px 20px;
    background: orange;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.submit-quiz-btn:hover {
    background: #d77c00;
}

.quiz-feedback {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

input[type="radio"] {
    accent-color: orange;
}

